<div class="container" *ngIf="countryDetailsLoaded">
	<div class="row mt-3">
		<div class="col-md-5 mb-3">
			<!-- <img [src]="selectedCompanyEl.logo" class="img-fluid mb-3" alt=""> -->
		</div>
		<div class="col-md-7">
			<!-- <ngx-charts-pie-chart [scheme]="colorScheme" [results]="maleFemaleRatioData" [legend]="showLegend" [explodeSlices]="explodeSlices"
			 [labels]="showLabels" [doughnut]="doughnut" [gradient]="gradient" (select)="onSelect($event)">
			</ngx-charts-pie-chart> -->
			<!-- <h5 *ngIf="!editMode" class="card-title">{{selectedCompanyEl.company}}</h5>

			<h6 *ngIf="!editMode" class="card-subtitle mb-2 text-muted">{{selectedCompanyEl.industry}}</h6>

			<p *ngIf="!editMode" class="card-text">{{selectedCompanyEl.about}}</p> -->

			<div class="row">
				<div class="col-md-12">

				</div>
			</div>
		</div>
	</div>
	<div class="row mt-3">
		<div class="col-md-12">
			<ngx-charts-advanced-pie-chart [view]="view" [scheme]="colorScheme" [results]="maleFemaleRatioData" [gradient]="gradient" (select)="onSelect($event)">
			</ngx-charts-advanced-pie-chart>
		</div>
	</div>
</div>