<div>
	<div class="row">
		<div class="col-sm-6 offset-sm-3 col-12">
			<input type="text" class="form-control" placeholder="Type to filter the name column..." (keyup)='updateFilter($event)' />
		</div>
	</div>
	<ngx-datatable #table [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="46" [limit]="10" [rows]="rows">
		<ngx-datatable-column name="Flag">
			<ng-template let-row="row" ngx-datatable-cell-template>
				<img [src]="row.flag" class="img-fluid" alt="">
			</ng-template>
		</ngx-datatable-column>

		<ngx-datatable-column name="Name">
			<ng-template let-row="row" ngx-datatable-cell-template>
				{{row.name}}
			</ng-template>
		</ngx-datatable-column>

		<ngx-datatable-column name="Population">
			<ng-template let-row="row" ngx-datatable-cell-template>
				{{row.population}}
			</ng-template>
		</ngx-datatable-column>
	</ngx-datatable>
</div>