<div class="container" *ngIf="dashboardDetailsLoaded">
	<div class="row criteria-form mb-80">
		<div class="col-md-12 col-12 p-0">
			<form [formGroup]="criteriaForm" (ngSubmit)="onSubmit(criteriaForm.value)">
				<div class="row">
					<div class="col-sm-2 col-12">
						<h6 class="pt-4">Results for</h6>
					</div>
					<div class="col-sm-3 col-12">
						<label for="yearCriteria">New year criteria</label>
						<input type="number" id="yearCriteria" class="form-control" placeholder="New year" formControlName="yearCriteria" />
					</div>
					<div class="col-sm-1 col-12">
						<h6 class="pt-4">at</h6>
					</div>
					<div class="col-sm-3 col-12">
						<label for="ageCriteria">New age criteria</label>
						<input type="number" id="ageCriteria" class="form-control" placeholder="New age" formControlName="ageCriteria" />
					</div>
					<div class="col-sm-3 col-12">
						<button type="submit" class="btn btn-primary align-bottom" [disabled]="!criteriaForm.valid">Show results</button>
					</div>
				</div>
			</form>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 col-12">
			<h6 class="description">Country with highest
				<span [ngStyle]="{'color': colorScheme.domain[0]}">Female</span>/
				<span [ngStyle]="{'color': colorScheme.domain[1]}">Male</span> ratio on age {{countryWithHighestFemaleMaleRatioByYear.age}} for {{countryWithHighestFemaleMaleRatioByYear.year}}
				is {{countryWithHighestFemaleMaleRatioByYear.country}}.</h6>
			<ngx-charts-advanced-pie-chart [scheme]="colorScheme" [results]="highestFemaleToMaleRatio" [gradient]="gradient" (select)="onSelect($event)">
			</ngx-charts-advanced-pie-chart>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12 col-12 bar-chart">
			<h6 class="description">
				Five countries with highest <span [ngStyle]="{'color': colorScheme.domain[0]}">Female</span>/<span [ngStyle]="{'color': colorScheme.domain[1]}">Male</span> ratio on age {{countryWithHighestFemaleMaleRatioByYear.age}} for {{countryWithHighestFemaleMaleRatioByYear.year}}.
			</h6>
			<ngx-charts-bar-vertical-2d [scheme]="colorSchemeBar" [results]="fiveCountriesWithHighestRatio" [gradient]="gradient" [xAxis]="showXAxis"
			 [yAxis]="showYAxis" [legend]="true" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel"
			 [yAxisLabel]="yAxisLabel" [barPadding]="2" [groupPadding]="8">
			</ngx-charts-bar-vertical-2d>
		</div>
	</div>
</div>