.container {
    .row {
        .description {
            position: absolute;
            left: 0;
            top: -55px;
        }

        .criteria-form {
            .row {
                background-color: white;
            }

            &.mb-80 {
                margin-bottom: 80px;
            }
        }

        ngx-charts-advanced-pie-chart {
            .advanced-pie-legend-wrapper {
                .advanced-pie-legend {
                    left: 300px;

                    @media(max-width: 576px) {
                        left: 0;
                    }
                }
            }
        }

        .bar-chart {
            margin-top: 90px;

            @media(max-width: 576px) {
                margin-top: 290px;
            }
        }
    }
}